converge-server/modules/converge-ws-client/src/wsdl/localhost_8080/converge-ws/ConceptService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.converge.i2m.dk/">

<xs:element name="DataNotFoundException" type="tns:DataNotFoundException"></xs:element>

<xs:element name="concept" type="tns:concept"></xs:element>

<xs:element name="findConceptByName" type="tns:findConceptByName"></xs:element>

<xs:element name="findConceptByNameResponse" type="tns:findConceptByNameResponse"></xs:element>

<xs:complexType name="findConceptByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findConceptByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:concept" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="concept">
<xs:sequence>
<xs:element name="definition" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fullName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="type" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DataNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>