converge-server/modules/converge-ws-client/src/wsdl/localhost_8080/converge-ws/NewsItemService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.converge.i2m.dk/" name="NewsItemService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.converge.i2m.dk/" schemaLocation="http://localhost:8080/converge-ws/NewsItemService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"></part>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"></part>
</message>
<message name="WorkflowStateTransitionException">
<part name="fault" element="tns:WorkflowStateTransitionException"></part>
</message>
<message name="step">
<part name="parameters" element="tns:step"></part>
</message>
<message name="stepResponse">
<part name="parameters" element="tns:stepResponse"></part>
</message>
<message name="NewsItemNotFoundException">
<part name="fault" element="tns:NewsItemNotFoundException"></part>
</message>
<message name="NewsItemWorkflowException">
<part name="fault" element="tns:NewsItemWorkflowException"></part>
</message>
<message name="getOutlets">
<part name="parameters" element="tns:getOutlets"></part>
</message>
<message name="getOutletsResponse">
<part name="parameters" element="tns:getOutletsResponse"></part>
</message>
<message name="checkin">
<part name="parameters" element="tns:checkin"></part>
</message>
<message name="checkinResponse">
<part name="parameters" element="tns:checkinResponse"></part>
</message>
<message name="NewsItemLockingException">
<part name="fault" element="tns:NewsItemLockingException"></part>
</message>
<message name="checkout">
<part name="parameters" element="tns:checkout"></part>
</message>
<message name="checkoutResponse">
<part name="parameters" element="tns:checkoutResponse"></part>
</message>
<message name="NewsItemReadOnlyException">
<part name="fault" element="tns:NewsItemReadOnlyException"></part>
</message>
<message name="getAssignments">
<part name="parameters" element="tns:getAssignments"></part>
</message>
<message name="getAssignmentsResponse">
<part name="parameters" element="tns:getAssignmentsResponse"></part>
</message>
<message name="getNewsItemsForEdition">
<part name="parameters" element="tns:getNewsItemsForEdition"></part>
</message>
<message name="getNewsItemsForEditionResponse">
<part name="parameters" element="tns:getNewsItemsForEditionResponse"></part>
</message>
<message name="addNewsItemToEdition">
<part name="parameters" element="tns:addNewsItemToEdition"></part>
</message>
<message name="addNewsItemToEditionResponse">
<part name="parameters" element="tns:addNewsItemToEditionResponse"></part>
</message>
<message name="DataNotFoundException">
<part name="fault" element="tns:DataNotFoundException"></part>
</message>
<message name="addConceptToNewsItem">
<part name="parameters" element="tns:addConceptToNewsItem"></part>
</message>
<message name="addConceptToNewsItemResponse">
<part name="parameters" element="tns:addConceptToNewsItemResponse"></part>
</message>
<portType name="NewsItemService">
<operation name="start">
<input message="tns:start"></input>
<output message="tns:startResponse"></output>
<fault message="tns:WorkflowStateTransitionException" name="WorkflowStateTransitionException"></fault>
</operation>
<operation name="step">
<input message="tns:step"></input>
<output message="tns:stepResponse"></output>
<fault message="tns:NewsItemNotFoundException" name="NewsItemNotFoundException"></fault>
<fault message="tns:NewsItemWorkflowException" name="NewsItemWorkflowException"></fault>
</operation>
<operation name="getOutlets">
<input message="tns:getOutlets"></input>
<output message="tns:getOutletsResponse"></output>
</operation>
<operation name="checkin">
<input message="tns:checkin"></input>
<output message="tns:checkinResponse"></output>
<fault message="tns:NewsItemLockingException" name="NewsItemLockingException"></fault>
<fault message="tns:NewsItemNotFoundException" name="NewsItemNotFoundException"></fault>
</operation>
<operation name="checkout">
<input message="tns:checkout"></input>
<output message="tns:checkoutResponse"></output>
<fault message="tns:NewsItemNotFoundException" name="NewsItemNotFoundException"></fault>
<fault message="tns:NewsItemLockingException" name="NewsItemLockingException"></fault>
<fault message="tns:NewsItemReadOnlyException" name="NewsItemReadOnlyException"></fault>
</operation>
<operation name="getAssignments">
<input message="tns:getAssignments"></input>
<output message="tns:getAssignmentsResponse"></output>
</operation>
<operation name="getNewsItemsForEdition">
<input message="tns:getNewsItemsForEdition"></input>
<output message="tns:getNewsItemsForEditionResponse"></output>
</operation>
<operation name="addNewsItemToEdition">
<input message="tns:addNewsItemToEdition"></input>
<output message="tns:addNewsItemToEditionResponse"></output>
<fault message="tns:DataNotFoundException" name="DataNotFoundException"></fault>
</operation>
<operation name="addConceptToNewsItem">
<input message="tns:addConceptToNewsItem"></input>
<output message="tns:addConceptToNewsItemResponse"></output>
</operation>
</portType>
<binding name="NewsItemServicePortBinding" type="tns:NewsItemService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="start">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WorkflowStateTransitionException">
<soap:fault name="WorkflowStateTransitionException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="step">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NewsItemNotFoundException">
<soap:fault name="NewsItemNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="NewsItemWorkflowException">
<soap:fault name="NewsItemWorkflowException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getOutlets">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NewsItemLockingException">
<soap:fault name="NewsItemLockingException" use="literal"></soap:fault>
</fault>
<fault name="NewsItemNotFoundException">
<soap:fault name="NewsItemNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="checkout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NewsItemNotFoundException">
<soap:fault name="NewsItemNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="NewsItemLockingException">
<soap:fault name="NewsItemLockingException" use="literal"></soap:fault>
</fault>
<fault name="NewsItemReadOnlyException">
<soap:fault name="NewsItemReadOnlyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAssignments">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNewsItemsForEdition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addNewsItemToEdition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataNotFoundException">
<soap:fault name="DataNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addConceptToNewsItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="NewsItemService">
<port name="NewsItemServicePort" binding="tns:NewsItemServicePortBinding">
<soap:address location="http://localhost:8080/converge-ws/NewsItemService"></soap:address>
</port>
</service>
</definitions>