converge-server/modules/converge-ws-client/src/wsdl/localhost_8080/converge-ws/NewsItemService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.converge.i2m.dk/">

<xs:element name="DataNotFoundException" type="tns:DataNotFoundException"></xs:element>

<xs:element name="NewsItemLockingException" type="tns:NewsItemLockingException"></xs:element>

<xs:element name="NewsItemNotFoundException" type="tns:NewsItemNotFoundException"></xs:element>

<xs:element name="NewsItemReadOnlyException" type="tns:NewsItemReadOnlyException"></xs:element>

<xs:element name="NewsItemWorkflowException" type="tns:NewsItemWorkflowException"></xs:element>

<xs:element name="WorkflowStateTransitionException" type="tns:WorkflowStateTransitionException"></xs:element>

<xs:element name="addConceptToNewsItem" type="tns:addConceptToNewsItem"></xs:element>

<xs:element name="addConceptToNewsItemResponse" type="tns:addConceptToNewsItemResponse"></xs:element>

<xs:element name="addNewsItemToEdition" type="tns:addNewsItemToEdition"></xs:element>

<xs:element name="addNewsItemToEditionResponse" type="tns:addNewsItemToEditionResponse"></xs:element>

<xs:element name="checkin" type="tns:checkin"></xs:element>

<xs:element name="checkinResponse" type="tns:checkinResponse"></xs:element>

<xs:element name="checkout" type="tns:checkout"></xs:element>

<xs:element name="checkoutResponse" type="tns:checkoutResponse"></xs:element>

<xs:element name="getAssignments" type="tns:getAssignments"></xs:element>

<xs:element name="getAssignmentsResponse" type="tns:getAssignmentsResponse"></xs:element>

<xs:element name="getNewsItemsForEdition" type="tns:getNewsItemsForEdition"></xs:element>

<xs:element name="getNewsItemsForEditionResponse" type="tns:getNewsItemsForEditionResponse"></xs:element>

<xs:element name="getOutlets" type="tns:getOutlets"></xs:element>

<xs:element name="getOutletsResponse" type="tns:getOutletsResponse"></xs:element>

<xs:element name="newsItem" type="tns:newsItem"></xs:element>

<xs:element name="outlet" type="tns:outlet"></xs:element>

<xs:element name="section" type="tns:section"></xs:element>

<xs:element name="start" type="tns:start"></xs:element>

<xs:element name="startResponse" type="tns:startResponse"></xs:element>

<xs:element name="step" type="tns:step"></xs:element>

<xs:element name="stepResponse" type="tns:stepResponse"></xs:element>

<xs:complexType name="step">
<xs:sequence>
<xs:element name="newsItemId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="workflowStepId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="comment" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stepResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="NewsItemNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewsItemWorkflowException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssignments">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAssignmentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:newsItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsItem">
<xs:sequence>
<xs:element name="actors" type="tns:newsItemActor" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="brief" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="byLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="media" type="tns:mediaItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="section" type="tns:section" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:int"></xs:element>
<xs:element name="story" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="workflowOptions" type="tns:workflowOption" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsItemActor">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="role" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="roleId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaItem">
<xs:sequence>
<xs:element name="caption" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="priority" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="renditions" type="tns:mediaItemRendition" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaItemRendition">
<xs:sequence>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="section">
<xs:sequence>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workflowOption">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="label" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="optionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewsItemToEdition">
<xs:sequence>
<xs:element name="newsItemId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="editionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="sectionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="position" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewsItemToEditionResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="DataNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkout">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkoutResponse">
<xs:sequence>
<xs:element name="return" type="tns:newsItem" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewsItemLockingException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewsItemReadOnlyException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutlets">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="sections" type="tns:section" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addConceptToNewsItem">
<xs:sequence>
<xs:element name="newsItemId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="conceptId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addConceptToNewsItemResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getNewsItemsForEdition">
<xs:sequence>
<xs:element name="editionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewsItemsForEditionResponse">
<xs:sequence>
<xs:element name="return" type="tns:newsItem" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="start">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WorkflowStateTransitionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkin">
<xs:sequence>
<xs:element name="arg0" type="tns:newsItem" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkinResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>