converge-server/modules/converge-ws-client/src/wsdl/localhost_8080/converge-ws/OutletService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.converge.i2m.dk/" name="OutletService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.converge.i2m.dk/" schemaLocation="http://localhost:8080/converge-ws/OutletService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createSection">
<part name="parameters" element="tns:createSection"></part>
</message>
<message name="createSectionResponse">
<part name="parameters" element="tns:createSectionResponse"></part>
</message>
<message name="DataNotFoundException">
<part name="fault" element="tns:DataNotFoundException"></part>
</message>
<message name="createEdition">
<part name="parameters" element="tns:createEdition"></part>
</message>
<message name="createEditionResponse">
<part name="parameters" element="tns:createEditionResponse"></part>
</message>
<message name="getOutlet">
<part name="parameters" element="tns:getOutlet"></part>
</message>
<message name="getOutletResponse">
<part name="parameters" element="tns:getOutletResponse"></part>
</message>
<message name="getEditions">
<part name="parameters" element="tns:getEditions"></part>
</message>
<message name="getEditionsResponse">
<part name="parameters" element="tns:getEditionsResponse"></part>
</message>
<message name="findSectionByName">
<part name="parameters" element="tns:findSectionByName"></part>
</message>
<message name="findSectionByNameResponse">
<part name="parameters" element="tns:findSectionByNameResponse"></part>
</message>
<message name="getPublishedEdition">
<part name="parameters" element="tns:getPublishedEdition"></part>
</message>
<message name="getPublishedEditionResponse">
<part name="parameters" element="tns:getPublishedEditionResponse"></part>
</message>
<portType name="OutletService">
<operation name="createSection">
<input message="tns:createSection"></input>
<output message="tns:createSectionResponse"></output>
<fault message="tns:DataNotFoundException" name="DataNotFoundException"></fault>
</operation>
<operation name="createEdition">
<input message="tns:createEdition"></input>
<output message="tns:createEditionResponse"></output>
</operation>
<operation name="getOutlet">
<input message="tns:getOutlet"></input>
<output message="tns:getOutletResponse"></output>
</operation>
<operation name="getEditions">
<input message="tns:getEditions"></input>
<output message="tns:getEditionsResponse"></output>
</operation>
<operation name="findSectionByName">
<input message="tns:findSectionByName"></input>
<output message="tns:findSectionByNameResponse"></output>
<fault message="tns:DataNotFoundException" name="DataNotFoundException"></fault>
</operation>
<operation name="getPublishedEdition">
<input message="tns:getPublishedEdition"></input>
<output message="tns:getPublishedEditionResponse"></output>
</operation>
</portType>
<binding name="OutletServicePortBinding" type="tns:OutletService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createSection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataNotFoundException">
<soap:fault name="DataNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createEdition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOutlet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEditions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findSectionByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataNotFoundException">
<soap:fault name="DataNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPublishedEdition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="OutletService">
<port name="OutletServicePort" binding="tns:OutletServicePortBinding">
<soap:address location="http://localhost:8080/converge-ws/OutletService"></soap:address>
</port>
</service>
</definitions>