converge-server/modules/converge-ws-client/src/wsdl/localhost_8080/converge-ws/OutletService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.converge.i2m.dk/">

<xs:element name="DataNotFoundException" type="tns:DataNotFoundException"></xs:element>

<xs:element name="createEdition" type="tns:createEdition"></xs:element>

<xs:element name="createEditionResponse" type="tns:createEditionResponse"></xs:element>

<xs:element name="createSection" type="tns:createSection"></xs:element>

<xs:element name="createSectionResponse" type="tns:createSectionResponse"></xs:element>

<xs:element name="edition" type="tns:edition"></xs:element>

<xs:element name="findSectionByName" type="tns:findSectionByName"></xs:element>

<xs:element name="findSectionByNameResponse" type="tns:findSectionByNameResponse"></xs:element>

<xs:element name="getEditions" type="tns:getEditions"></xs:element>

<xs:element name="getEditionsResponse" type="tns:getEditionsResponse"></xs:element>

<xs:element name="getOutlet" type="tns:getOutlet"></xs:element>

<xs:element name="getOutletResponse" type="tns:getOutletResponse"></xs:element>

<xs:element name="getPublishedEdition" type="tns:getPublishedEdition"></xs:element>

<xs:element name="getPublishedEditionResponse" type="tns:getPublishedEditionResponse"></xs:element>

<xs:element name="newsItem" type="tns:newsItem"></xs:element>

<xs:element name="outlet" type="tns:outlet"></xs:element>

<xs:element name="section" type="tns:section"></xs:element>

<xs:complexType name="getEditions">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="date" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEditionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:edition" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edition">
<xs:sequence>
<xs:element name="closeDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="items" type="tns:newsItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="publicationDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsItem">
<xs:sequence>
<xs:element name="actors" type="tns:newsItemActor" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="brief" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="byLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="media" type="tns:mediaItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="section" type="tns:section" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:int"></xs:element>
<xs:element name="story" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="workflowOptions" type="tns:workflowOption" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsItemActor">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="role" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="roleId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaItem">
<xs:sequence>
<xs:element name="caption" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="priority" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="renditions" type="tns:mediaItemRendition" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaItemRendition">
<xs:sequence>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="section">
<xs:sequence>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workflowOption">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="label" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="optionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSection">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="parentId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="active" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DataNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublishedEdition">
<xs:sequence>
<xs:element name="editionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublishedEditionResponse">
<xs:sequence>
<xs:element name="return" type="tns:edition" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEdition">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="open" type="xs:boolean"></xs:element>
<xs:element name="publicationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="closeDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEditionResponse">
<xs:sequence>
<xs:element name="return" type="tns:edition" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutlet">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutletResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="sections" type="tns:section" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSectionByName">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="section" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSectionByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:section" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>