converge-server/modules/converge-mobile-server/src/wsdl/localhost_8080/converge-ws/OutletService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://soap.ws.converge.i2m.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.converge.i2m.dk/">

<xs:element name="edition" type="tns:edition"></xs:element>

<xs:element name="getOutlet" type="tns:getOutlet"></xs:element>

<xs:element name="getOutletResponse" type="tns:getOutletResponse"></xs:element>

<xs:element name="getPublishedEdition" type="tns:getPublishedEdition"></xs:element>

<xs:element name="getPublishedEditionResponse" type="tns:getPublishedEditionResponse"></xs:element>

<xs:element name="newsItem" type="tns:newsItem"></xs:element>

<xs:element name="outlet" type="tns:outlet"></xs:element>

<xs:element name="section" type="tns:section"></xs:element>

<xs:complexType name="getPublishedEdition">
<xs:sequence>
<xs:element name="editionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublishedEditionResponse">
<xs:sequence>
<xs:element name="return" type="tns:edition" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edition">
<xs:sequence>
<xs:element name="closeDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="items" type="tns:newsItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="publicationDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsItem">
<xs:sequence>
<xs:element name="byLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateLine" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="media" type="tns:mediaItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="section" type="tns:section" minOccurs="0"></xs:element>
<xs:element name="story" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaItem">
<xs:sequence>
<xs:element name="caption" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="rendition" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="section">
<xs:sequence>
<xs:element name="displayOrder" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutlet">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutletResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="sections" type="tns:section" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>